@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Raleway:wght@300&family=Ysabeau:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.background {
  background: rgba(0, 0, 0, 0.7) url("pexels-thisisengineering-3862132.jpg");
  background-size: cover;
  background-blend-mode: darken;
}
.nav-list {
  display: flex;
  width: 50%;
}
.nav-list li {
  padding: 29px 33px;
  list-style: none;
}
.nav-list li a {
  text-decoration: none;
  color: aliceblue;
}
.nav-list li a:hover {
  color: rgb(2, 15, 27);
}
.right-nav {
  width: 50%;
  text-align: right;

  padding: 0 23px;
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 70px;
  border-radius: 150%;
}
#search {
  padding: 5px;
  font-size: 15px;
  border: 2px solid rgb(229, 21, 21);
  border-radius: 9px;
}
.box-main {
  /* width: 40%; */
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: 50%;
  margin: auto;
}
.firstsection {
  height: 100vh;
}
.first-half {
  /* height: 100vh; */
  width: 80%;
  display: flex;
  flex-direction: column;
}
.second-half {
  /* height: 100vh; */
  width: 30%;
}
.second-half img {
  /* height: 100vh; */
  height: 27vh;
  width: 150%;
  padding: -1px 0;
  border: 1px solid white;
  border-radius: 40px;
  display: block;
  margin: auto;
}
.text-big {
  font-size: 50px;
}
.text-small {
  font-size: 25px;
  padding-right: 52px;
}
.btn {
  padding: 8px 20px;
  margin: 7px 0;
  border: 2px solid white;
  border-radius: 11px;
  font-size: 18px;
  background-color: none;
  background: none;
  color: white;
  margin-right: 14px;
}
.btn-sm {
  margin: 2spx 4px;
  padding: 2px 3px;
  background-color: none;
  background: none;
  color: aliceblue;
}
.secright {
  background-color: bisque;
  height: 500px;
  align-items: center;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  max-width: 80%;
  padding: 90px;
  /* flex-direction: column; */
  /* display: flex;
   justify-content: center;
  align-items: center;
  margin: auto; */
}
.left {
  flex-direction: row-reverse;
}
.thumbnail {
  /* max-width: 150px; */
}

.para {
  padding: 0 40px;
}
.sectionSubtag {
  font-family: "Nanum Gothic", sans-serif;
}
.imgfluid {
  /* height: 100vh; */
  height: 27vh;
  width: 150%;
  padding: -1px 0;
  border: 1px solid white;
  border-radius: 40px;
  display: block;
  margin: auto;
  overflow: ;
}
